<div class="container">
  <h1>Carrito de compras</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of articulos_unicos">
        <td>{{articulo.nombre}}</td>
        <td>${{articulo.precio}}</td>
        <td>
          <input type="number" [(ngModel)]="articulo.cantidad" class="form-control">
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="eliminarArticulo(articulo)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <h3>Total: ${{calcularTotal()}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <button class="btn btn-primary btn-lg" [routerLink]="['/informacion-pago']">Comprar</button>
      <button class="btn btn-warning btn-lg" [routerLink]="['/productos']">Volver</button>
      
    </div>
  </div>
</div>