<div class="container">
    <h1>Información de Pago</h1>
    <form [formGroup]="formularioPago" (ngSubmit)="finalizarCompra()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="number" class="form-control" id="telefono" formControlName="telefono">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion">
        </div>
        <div class="form-group">
            <label for="numeroTarjeta">Numero de Tarjeta</label>
            <input type="text" class="form-control" id="numeroTarjeta" formControlName="numeroTarjeta">
        </div>
        <div class="form-group">
            <label for="fechaVencimiento">Fecha de Vencimiento</label>
            <input type="month" class="form-control" id="fechaVencimiento" formControlName="fechaVencimiento">
        </div>
        <div class="form-group">
            <label for="codigoSeguridad">Codigo de Seguridad</label>
            <input type="text" class="form-control" id="codigoSeguridad" formControlName="codigoSeguridad">
        </div>
        <button type="submit" class="btn btn-primary" >Finalizar Compra</button>
    </form>
</div>
