<ul>

  
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div *ngFor="let articulo of articulos | async" class="col-md-4" >
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src={{articulo.imagen}} data-holder-rendered="true" >
              <div class="card-body">
                <p class="card-text">{{articulo.nombre}}</p>
                <p class="card-text">${{articulo.precio}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/detalle-articulo', articulo.idDoc]">Detalle</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </ul>