<div class="container">
    <div class="card mb-4">
      <img class="card-img-top" [src]="articulo.imagen">
      <div class="card-body">
        <h2 class="card-title">{{ articulo.nombre }}</h2>
        <p class="card-text">{{ articulo.descripcion }}</p>
        <p class="card-text">Precio: ${{ articulo.precio }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="agregarArticulo(articulo)">Agregar al carrito</button>
      </div>
    </div>
    <div class="card-footer">
      <button class="volver btn btn-warning" [routerLink]="['/productos']">Volver</button>
      <button class="ver_carrito btn btn-info" [routerLink]="['/ver-carrito']">Ver carrito</button>
    </div>
  </div>
